.SearchBox {
	nav {
		height: 100%;
		background-color: #2bbbad;
	}

	i,
	label {
		display: flex !important;
		align-items: center !important;
		height: 100% !important;
	}

	input {
		margin: 0 !important;
	}
}
