body {
	background-color: rgba(123, 223, 212, 0.1);
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body *::-webkit-scrollbar {
	width: 6px;
	height: 8px;
	transition: 0.3s background;
}

body *::-webkit-scrollbar-thumb {
	border-radius: 16px;
	background-color: rgba(0, 0, 0, 0.25);
}

body *:hover::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.35);
}

.grid-container {
	--spacing: 20px;
	--input-height: 60px;
	display: grid;
	grid-template-columns: var(--spacing) 5fr var(--spacing) 2fr var(--spacing);
	grid-template-rows:
		var(--spacing)
		var(--input-height)
		var(--spacing)
		1fr
		var(--spacing);
	grid-template-areas:
		'. . . . .'
		'. top top top .'
		'. . . . .'
		'. gallery . queries .'
		'. . . . .';
	height: 100vh;
}

.grid-top {
	grid-area: top;
	display: grid;
	grid-template-columns: 5fr var(--spacing) 2fr;
	grid-template-rows: var(--input-height);
	grid-template-areas: 'search . controls';
}

.grid-gallery {
	grid-area: gallery;
}

.grid-queries {
	grid-area: queries;
}

.grid-queries-select {
	display: none;
}

.grid-queries-list {
	overflow-y: auto;
	max-height: calc(100vh - var(--input-height) - 3 * var(--spacing));
}

.grid-search {
	grid-area: search;
}

.grid-controls {
	grid-area: controls;
	display: grid;
	grid-template-columns: 1fr var(--spacing) 1fr;
	grid-template-areas: 'search-button . save-button';
}

.grid-search-button {
	grid-area: search-button;
}

.grid-save-button {
	grid-area: save-button;
}

@media screen and (max-width: 752px) {
	.grid-container {
		--spacing: 10px;
		--input-height: 40px;
		grid-template-columns: var(--spacing) 1fr var(--spacing);
		grid-template-rows:
			var(--spacing)
			calc(var(--spacing) + var(--input-height) * 2)
			var(--spacing)
			var(--input-height)
			var(--spacing)
			1fr
			var(--spacing);
		grid-template-areas:
			'. . .'
			'. top .'
			'. . .'
			'. queries .'
			'. . .'
			'. gallery .'
			'. . .';
	}
	.grid-top {
		grid-template-columns: 1fr;
		grid-template-rows:
			var(--input-height)
			var(--spacing)
			var(--input-height);
		grid-template-areas:
			'search'
			'.'
			'controls';
	}
	.grid-queries-list {
		display: none;
	}
	.grid-queries-select {
		display: block;
	}
}
