.CollectionContainer {
}

.Collection {
	margin: 0;
	li {
		word-break: break-word;
	}
}

.SelectContainer {
	height: 100%;

	* {
		height: 100% !important;
	}
}

.Select {
	* {
		display: flex;
		align-items: center;
	}

	div,
	span {
		margin: 0 !important;
	}

	input {
		box-shadow: none !important;
		margin: 0 !important;
	}
}
